.form-input {
  &:disabled {
    background-color: #f2f2f2;
  }
  &:-webkit-autofill {
    animation-name: onAutoFillStart;
  }
  &:not(:-webkit-autofill) {
    animation-name: onAutoFillCancel;
  }
}
@keyframes onAutoFillStart {
  from {/**/}
  to {/**/}
}

@keyframes onAutoFillCancel {
  from {/**/}
  to {/**/}
}
